SECRET_KEY=n7d0f%xqbij1ma^!^z!&^(b_md**2&m)%e_ip$102m%1x-939t
DB_ENGINE=django.db.backends.postgresql # указываем, что работаем с postgresql
DB_NAME=postgres # имя базы данных
POSTGRES_USER=postgres # логин для подключения к базе данных
POSTGRES_PASSWORD=postgres # пароль для подключения к БД (установите свой)
DB_HOST=db_foodgram # название сервиса (контейнера)
DB_PORT=5432 # порт для подключения к БД